@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-sign {
    @apply border-solid border-blue-400 border-2 rounded-lg p-1 mb-1;
  }

  .invalid {
    @apply bg-red-300;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}

body,
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
